#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 0.5in;
    align-items: stretch;
}



#name {
    white-space: nowrap;
    font-size: 4em;
    font-weight: bold;
    align-self: center;
}

#contact {
    display: grid;
    grid-template-columns: auto 25px auto;
    grid-template-rows: auto auto;
}

.icon-with-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-width: 1px;
    border-color: black;
    /* font-weight: bold; */
}

.icon {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
}