@page {
    size: letter portrait;
    margin: 0;
}

body {
    margin: 0;
    height: 100%;
}

html {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    filter: opacity(1);
    -webkit-filter: opacity(1);
}

:root {
    --wm-green: #004d2f;
    --light-wm-green: #358c6a;
    font-size: 8.5pt;
    background-color: aliceblue;
}

div {
    padding: 0;
}

resume-document {
    padding: 2em;
    font-family: "Avenir";
    display: flex;
    flex-direction: column;
    gap: 1em;
}